@model IEnumerable<WebApplication1.Models.workermodel>

@{
    ViewBag.Title = "workers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>workers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionOffice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.RegionOffice)
            </th>
        </tr>
    }

</table>
