
@{
    ViewBag.Title = "lab2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .H1 {
        border: 4px double #333; /* Рамка вокруг таблицы */
        border-collapse: separate; /* Способ отображения границы */
        width: 100%; /* Ширина таблицы */
        border-spacing: 3px 7px; /* Расстояние между ячейками */
    }

    td {
        padding: 5px; /* Поля вокруг текста */
        border: 1px solid #a52a2a; /* Граница вокруг ячеек */
    }
</style>



<h2>lab2</h2>

<div>
    <text>Таблица примеров запросов</text>
    <table class="H1">
        <thead>
            <tr>
                <td>
                    Описание запроса
                </td>
                <td>
                    Кнопка
                </td>
            </tr>
        </thead>
        <tbody class="H2">
            <tr>
                <td>
                    GET /hello/getworkers
                </td>
                <td>
                    @Html.ActionLink("Get из БД работников ", "getworkers")
                </td>
            </tr>
            <tr>
                <td>
                    GET /hello/getworkers с страницами
                </td>
                <td>
                    @Html.ActionLink("Get из БД работников ", "getworkerspage")
                </td>
            </tr>
            <tr>
                <td>
                    GET /hello/getsomeworkers?&Company=Microsoft
                </td>
                <td>
                    @Html.ActionLink("Get из бд работников компании microsoft", "getsomeworkers", "hello")
                </td>
            </tr>
            <tr>
                <td>
                    DELETE /hello/deletecompany?&Name=Microsoft
                </td>
                <td>
                    @Html.ActionLink("Удаление целой компании microsoft", "deletecompany", "hello")
                </td>
            </tr>
            <tr>
                <td>
                    POST /hello/adcompany?&amp;Name=Microsoft&amp;CEO={Meme JD}&amp;position=CEO&amp;region=Canada&amp;claster=NA&amp;Cost=450
                </td>
                <td>
                    @Html.ActionLink("Добавление целой компании microsoft", "addcompany", "hello")
                </td>
            </tr>
        </tbody>
    </table>
</div>